#!/bin/bash
set -e
SHELL_FOLDER=$(cd "$(dirname "$0")";pwd)
clashdir=/home/ubuntu/clash
clashpath=$clashdir/clash
config_url="{{clash_url}}"

if [ ! -d $clashdir ]; then
    sudo -S mkdir -p $clashdir
    sudo -S chown -R {{ansible_ssh_user}} /home/ubuntu/
fi

f_getfile() {
    echo "getting clash"
    version="{{clash_version}}"
    pname="clash-linux-{{arch}}-$version"
    # gz=$pname.gz
    url=https://github.com/Dreamacro/clash/releases/download/$version/${pname}.gz
    wget $url
    
    cp $pname.gz $clashdir/clash.gz
    cd $clashdir
    gzip -d clash
    chmod +x clash
}

f_getconfig() {
    cd $clashdir
    test -e config.yaml && mv config.yaml config.yaml.$(date +%s).bak
    wget -O config.yaml $config_url
}

# run(){
#     ./clash -d .
#     # export https_proxy=http://127.0.0.1:7890 http_proxy=http://127.0.0.1:7890 all_proxy=socks5://127.0.0.1:7890
# }

if [ ! -f "$clashpath" ]; then #~/clash can't switch to /home/ubuntu
    echo "clash isn't find"
    f_getfile
    echo "get clash finish"
    f_getconfig
    echo "get config finish"
fi

# [ ! -f /home/ubuntu/proxy.sh ] && cp $SHELL_FOLDER/proxy.sh ~ && cat >> ~/.bashrc<<EOF

# source ~/proxy.sh
# EOF

# f_getconfig
# cd $clashdir
# run
# echo "$clashpath -d $clashdir"

echo finish
# "$clashpath -d $clashdir"
